.bg-black{
  background: black;
}
.bg-red{
  background: #EC1D23;
}

.shadow-d{
  box-shadow: 0px 4px 18px #111111;
}
.shadow{
  box-shadow: 0px 0px 18px #000000;
}

.border-R{
  border-radius: 178px 199px 180px 136px;
  -moz-border-radius: 178px 199px 180px 136px;
  -webkit-border-radius: 178px 199px 180px 136px;
  border:0;
}

.carousel-item {
  height: 300px;
}
  
.carousel-item img {
  position: absolute;  
  top: 0;
  left: 0;
  min-height: 300px;
}